.PlanetPic {
    width: 150px;
    height: 150px;
    border-radius: 5%;
}
.RandomPlanet {
    background-color: #303030;
    border-radius: 11px;
    height: 200px;
    align-items: center;
    padding-left: 2rem;
}
.InfoPlanet{
    margin: auto auto auto 3%;

}
.InfoPlanet p {
    font-size: 25px;
}

.InfoPlanet ul li {
    padding: 0.3rem;
}
