.header{

}
.header p {
    font-size: 30px;
}
.header ul {
    list-style: none;
    align-items: center;
}
.header ul li a{
    border: none;
}
.header ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}




